@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

@media (min-width: 960px){
  .products-display-grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: 30vw 30vw 30vw;
  }
  .product-grid{
    overflow-y: hidden;
    border: gainsboro 1px solid;
    border-radius: 5px;
    display: grid;
    gap: 0.2rem;
    grid-template-columns:15vw 15vw;
    grid-template-rows: repeat(1fr, 3);
    height: 30vh;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 960px){
  .products-display-grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: 40vw 40vw;
  }
  .product-grid{
    overflow-y: hidden;
    border: gainsboro 1px solid;
    border-radius: 5px;
    display: grid;
    gap: 0.2rem;
    grid-template-columns:15vw 15vw;
    grid-template-rows: repeat(1fr, 3);
    height: 50vh;
    align-items: center;
    justify-content: center;
  }
}



.product-grid h1{
  font-size: 2vw
}

.grid-row-span-3{
  grid-row: span 3;
}

.grid-row-span-2{
  grid-row: span 2;
}

.product-grid:hover{
  box-shadow: 5px 7px grey;
}

.product-image{
  padding: 0.5em;
  max-width: 10vw;
  border-radius: 10px;
}

.add-form{
  width: 30vw;
  display: grid;
  grid-template-rows: repeat(1fr, 3);
  gap: 1rem;
  border: 1px black solid;
  padding: 0.5em;
  margin: 0.2em;
}

.hide{
  display: none;
}
