@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.product-grid{
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 40vw 40vw 10vw;
  grid-template-rows: repeat(1fr, 3);
  border: 2px solid black;
  padding: 0.2em;
  margin: 0.5em;
}

.grid-row-span-3{
  grid-row: span 3;
}

.grid-row-span-2{
  grid-row: span 2;
}

.product-grid:hover{
  box-shadow: 5px 7px grey;
}

.product-image{
  max-width: 30vw;
  height: auto;
  border-radius: 10px;
}
