@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.products-display-grid{
  display: grid;
  gap: 1rem;
  grid-template-columns: 30vw 30vw 30vw;
}

.product-grid{
  overflow-y: hidden;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 20vw 20vw 5vw;
  grid-template-rows: repeat(1fr, 3);
  height: 20vh;
  border: 2px solid black;
  padding: 0.2em;
  align-items: center;
  justify-content: center;
}

.grid-row-span-3{
  grid-row: span 3;
}

.grid-row-span-2{
  grid-row: span 2;
}

.product-grid:hover{
  box-shadow: 5px 7px grey;
}

.product-image{
  border-radius: 10px;
}

.add-form{
  width: 30vw;
  display: grid;
  grid-template-rows: repeat(1fr, 3);
  gap: 1rem;
  border: 1px black solid;
  border-radius: 15px;
  padding: 0.5em;
  margin: 0.2em;
}

.hide{
  display: none;
}
